data/BIDShierPriors/sub-003/ses-01/eeg/sub-003_ses-01_task-HierPrior_eeg.edf
data/BIDShierPriors/sub-002/ses-01/eeg/sub-002_ses-01_task-HierPrior_eeg.edf
data/BIDShierPriors/sub-001/ses-01/eeg/sub-001_ses-01_task-HierPrior_eeg.edf
